@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');

@import url('https://fonts.googleapis.com/css2? family = Abrir + Sans: wght @ 300; 400 & display = swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sans",sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    background: #121212;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.text{
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    color: white;
    background: #121212;
}

.text h2{
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 0.9;
    margin-bottom:0;
}

.text h1{
    font-size: 3.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 255, 255, 0.534);
    margin-bottom: 10px;
}

.text p {
    font-size: 1.30;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 10px;
}

.text button{
    width: 50%;
    padding: 10px 20px;
    border: none;
    background: silver;
    color: black;
    border: none;
    transition: 0.3s ease-in;
}

.text button:hover{
    background: red;
    color: black;
}

.text button a{
    font-size: 1.35rem;
    text-transform: uppercase;
    color: #121212;
}

.img{
    width: 50%;
    height: 100vh;
    background: url('img/uzumaki.png') no-repeat center center;
    background-size: cover;
}

.img a{
    float: right;
    color: white;
    margin: 30px 30px;
    font-size: 1.2rem;
    opacity: 0.9;
    font-family: "Sans", sans-serif;
}

.img a i {
    color: white;
    padding: 5px;
    font-size: 1.5rem;
}

@media(max-width:800px){
    .container{
        flex-wrap: wrap;        
    }
    .text, .img{
        width: 100%;
    }
    .img{
        display: none;
    }

}